.card-button{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.card-button ~ input{
    display: none;
}

.cart{
    width: 400px;
    background-color: white !important;
    position: fixed;
    right: -400px;
    top: 0px;
    min-height: 100vh;
    height: 100%;
    overflow: auto;
    opacity: 0;
    z-index: 10;
    box-shadow: -5px 0 10px 0 rgba(128, 128, 128, 0.5);
    transition: right .5s ease, opacity .5s ;
}

.card-button ~ input:checked ~ .cart{
    opacity: 1;
    right: 0;
}
